html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

/*
 * Page Flexbox
 */
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sub-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-user-task {
  height: 100%
}

.page-header {
  flex: 0 0 auto;
}

.page-header mat-toolbar {
  background-color: #282c87 !important;
}

.page-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  padding: 16px 8px 16px 8px;
}

.page-footer {
  z-index: 100;
  flex: 0 0 auto;
}

/*
 * Snackbar
 */

@media only screen and (min-width: 0) and (max-width: 600px) {
  .offset-snack-bar {
    height: 104px;
  }
}

@media only screen and (min-width: 601px) {
  .offset-snack-bar {
    height: 112px;

  }
}


/*
mat dialog with bleed
 */
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}
