.icon-text {
  display: flex;
  justify-content: flex-start;
}

.icon-text div {
  padding-left: 8px;
}

.mdi {
  color: #282c87;
}

.mdi:hover {
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .mat-h5 {
    font-size: 15px;
  }
}
