<div class="mat-h1">Willkommen bei der Schnitzeljagd</div>
<div class="mat-h3">Hier findest du einen Überblick der grundlegenden Funktionen.</div>
<div class="mat-h3">QR-Code: Erlaube uns den Zugriff auf deine Kamera. Mit dem Kamera-Icon kannst du den QR-Scanner
  öffnen.
</div>
<div class="mat-h3">NFC-Tag: Bei aktiviertem NFC kannst du direkt loslegen. Halte dazu dein Gerät an einen NFC-Tag.
</div>

<div class="icon-text">
  <i class="mdi mdi-exit-to-app"></i>
  <div class="mat-h3">Schnitzeljagd beenden</div>
</div>
<div class="icon-text">
  <i class="mdi mdi-information-outline"></i>
  <div class="mat-h3">Hinweis zur Frage</div>
</div>
<div class="icon-text">
  <i class="mdi mdi-map-marker"></i>
  <div class="mat-h3">Standort des zu findenden Ortes</div>
</div>
<div class="icon-text">
  <i class="mdi mdi-skip-next"></i>
  <div class="mat-h3">Rätsel überspringen</div>
</div>
<div class="icon-text">
  <i class="mdi mdi-qrcode"></i>
  <div class="mat-h3">QR-Code Scanner</div>
</div>
