<h3 class="mat-h3">Willkommen bei der Schnitzeljagd</h3>
<h5 class="mat-h5">Hier findest du einen Überblick der <br>
  grundlegenden Funktionen. </h5>
<h5 class="mat-h5">QR-Code: Erlaube uns den Zugriff auf deine Kamera.
  Mit dem Kamera-Icon kannst du den QR-Scanner öffnen.</h5>
<h5 class="mat-h5">NFC-Tag: Bei aktiviertem NFC kannst du direkt loslegen.
  Halte dazu dein Gerät an einen NFC-Tag.</h5>

<p class="icon"><i class="material-icons" id="exit">exit_to_app</i>Schnitzeljagd beenden</p>
<p class="icon"><i class="material-icons" id="info">info</i>Hinweis zur Frage</p>
<p class="icon"><i class="material-icons" id="location">location_on</i>Aktueller Standort</p>
<p class="icon"><i class="material-icons" id="skip">skip_next</i>Rätsel überspringen</p>
<p class="icon"><i class="material-icons" id="photo">photo_camera</i>QR-Code Scanner</p>



