#progress {
  width: 100%;
}

.star{
  color: #3f3f3f;
}

.time {
  color: #3f3f3f;
}

.home{
  color: #3f51b5;
}

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

mat-toolbar{
  height: 80px;
  /*background-color: #fbd663;*/
  background-color: white;
}

#child_1{
  position: relative;
  z-index: 1;
  top: 16px;
}


 #child_3{
  position: relative;
   z-index: 2;
   top: 16px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  align-items: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */


  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */


  .container {
    padding-left: 96px;
    padding-right: 96px;
  }
}
