#progress {
  width: 100%;
}

.points {
  color: white;
}

.animation {
  z-index: 1;
  position: absolute;
}

.time {
  color: white;
}

.home {
  color: white;
}

mat-progress-bar {
  height: 6px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  align-items: center;
  display: flex;
}

.item div {
  padding-left: 4px;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */

  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */

  .container {
    padding-left: 96px;
    padding-right: 96px;
  }
}
