<mat-toolbar class="mat-elevation-z2">
  <form id="progress">
    <div class="container">
      <div class="item home">
        <i class="material-icons">home</i>{{progressDone}}/{{progressCount}}</div>
      <div class="item points">
        <i class="material-icons">star</i>
        <div>
          <span id="points">{{points}}</span>
          <span class="animation" [@popOverState]="stateName">+{{pointIncrease}}</span>
        </div>
      </div>
      <div class="item time">
        <i class="material-icons">access_time</i>{{parsedTime}}</div>
    </div>
    <mat-progress-bar color="accent" id="bar" [value]="(progressDone / progressCount)*100"></mat-progress-bar>
  </form>
</mat-toolbar>
