<div id="header">
  <mat-toolbar>
    <form id="progress">
      <div class="container">
        <div class="item"><i class="material-icons">home</i>{{progressDone}}/{{progressCount}}</div>
        <div class="item"><i class="material-icons">star</i>{{points}}</div>
        <div [@popOverState]="stateName">+{{pointIncrease}}</div>
        <div class="item"><i class="material-icons">access_time</i>{{parsedTime}}</div>
      </div>
      <mat-progress-bar id="bar" [value]="(progressDone / progressCount)*100"></mat-progress-bar>
    </form>
  </mat-toolbar>
</div>


