<div class="centered">
  <img src="{{imageLogo}}">
  <div class="mat-display-2">HHN Rallye</div>
  <form role="form" (ngSubmit)="submitLogin(teamname.value, password.value)">
    <div class="mat-h2">Neu registrieren/anmelden:</div>
    <div>
      <mat-form-field>
        <input #teamname matInput placeholder="Gruppenname" (keydown.enter)="password.focus();$event.preventDefault()">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input #password matInput type="password" placeholder="Passwort">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Start</button>
  </form>
</div>
