.flex-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.flex-wrapper {
  width: 50%;
  margin: 0 auto;
}

.configButton {
  margin-bottom: 32px;
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: none;
}
