.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mdi {
  color: #282c87;
}

.mdi:hover {
  color: #383dbb;
}

.mat-row:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.mat-column-isActive {
  flex: 0 0 60px;
}

.mat-column-name {
  flex: 0 0 200px;
}

.mat-column-id {
  flex: 0 0 200px;
}

.mat-column-edit {
  flex: 0 0 60px;
}
