<div class="page-content">
  <mat-card>
    <div class="question-center">
      <h4 class="mat-h4">{{question.getName()}}</h4>
    </div>
    <div class="question">{{question.getQuestion()}}</div>
    <br>
    <pre *ngIf="question.codeAvailable()"><code highlight [code]="question.code"></code></pre>
    <img *ngIf="question?.imageAvailable()" mat-card-image class="img-responsive centered"
         src="data:{{question.getImage()?.filetype}};base64,{{question.getImage()?.base64}}">

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Antwort" type="text" #answer ng-model="riddle.answer"
               (keydown.enter)="solveQuestion(answer.value)">
      </mat-form-field>
      <i class="mdi mdi-information-outline" id="hint" style="color: #282c87" (click)="toggleHint()"></i>
    </div>
  </mat-card>
</div>

<div class="page-footer">
  <mat-toolbar class="container_bottom">
    <i class="mdi mdi-exit-to-app" (click)="abbrechen()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-help-circle-outline" (click)="help()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-skip-next" (click)="skipQuestion()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-check" (click)="solveQuestion(answer.value)"></i>
  </mat-toolbar>
</div>

