.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

h1{
  padding-top: 20px;
}

.mat-table {
  overflow: auto;
}

.filter {
  min-height: 64px;
  padding: 8px 24px 0;
}


.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
