.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.material-icons {
  color: #282c87;
}

.material-icons:hover {
  color: #383dbb;
  cursor: pointer;
}

.mat-column-edit {
  flex: 0 0 60px;
}

.mat-row:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.filter {
  min-height: 64px;
  padding: 8px 24px 0;
}


.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
