.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.mdi {
  color: #282c87;
}

.mdi:hover {
  color: #383dbb;
}

.progress {
  height: 6px;
  width: 90%;
}

.mat-column-edit {
  flex: 0 0 40px;
}

.mat-row:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
