<div id="map" [ngStyle]="mapStyles"></div>
<ng-container *ngIf="data.admin == true">
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" tabindex="2" (click)="submit()">Speichern</button>
    <button mat-raised-button tabindex="-1" (click)="cancel()">Abbrechen</button>
    <mat-form-field>
      <mat-select [(value)]="data.location.level">
        <mat-option value="5">Etage 5</mat-option>
        <mat-option value="4">Etage 4</mat-option>
        <mat-option value="3">Etage 3</mat-option>
        <mat-option value="2">Etage 2</mat-option>
        <mat-option value="1">Etage 1</mat-option>
        <mat-option value="0">Etage 0</mat-option>
        <mat-option value="-1">Etage -1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>
