<div class="page">
  <ng-container *ngIf="gameRunning == true">
    <div class="page-header">
      <app-user-progress #progress [(points)]="points" [progressCount]="progressCount" [progressDone]="progressDone"
                         [startDate]="startDate" [endDate]="endDate">Progress Bar Loading..
      </app-user-progress>
    </div>
    <ng-container *ngIf="currentTask != 'won'">
      <div class="sub-page">
      <app-user-task *ngIf="(currentQuestion!= undefined) && (currentLocation != undefined)"
                     [question]="currentQuestion" [location]="currentLocation" [sessionID]="sessionID"
                     [currentTask]="currentTask" (taskOutput)="getStateFromServer()"
                     (taskLogout)="clearLocalSession()"
                     (taskPointEmitter)="setPoints($event)" (locationFound)="foundLocation($event)">Quiz Loading..
      </app-user-task>
      </div>
    </ng-container>
    <ng-container *ngIf="currentTask == 'won'">
      <app-user-scoreboard class="sub-page" [winText]="winText" [groupName]="groupName" (scoreboardOutput)="clearLocalSession()">
        Scoreboard Loading..
      </app-user-scoreboard>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="gameRunning == false">
    <app-user-login (loginOutput)="loggedIn($event)">Loading login..</app-user-login>
  </ng-container>
  <router-outlet></router-outlet>
</div>
