.add-button {
  margin-bottom: 20px;
}

.width {
  width: 100%;
}

img {
  max-width: 600px;
}

textarea {
  resize: none;
}

mat-dialog-content {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-left {
  width: 600px;
}

.flex-right {
  justify-content: center;
}

.dialog-element {
  margin-bottom: 8px;
}

mat-form-field {
  width: 80%;
}

.material-icons {
  color: #282c87;
}

.material-icons:hover {
  color: #383dbb;
  cursor: pointer;
}
