.add-button {
  margin-bottom: 20px;
}

.width {
  width: 100%;
}

img {
  max-width: 600px;
  max-height: 300px;
}

textarea {
  resize: none;
}

mat-dialog-content {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
}

.flex-left {
  width: 400px;
}

.flex-middle {

}

.flex-right {
  width: 400px;
}

.dialog-element {
  margin-bottom: 8px;
}

.image-options i {
  vertical-align: middle !important;
}

mat-form-field {
  width: 100%;
}

.material-icons {
  color: #282c87;
}

.material-icons:hover {
  color: #383dbb;
  cursor: pointer;
}

pre {
  border: solid 1px #e1e1e1
}
