img {
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

textarea {
  resize: none;
}

.tab-content {
  padding-top: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: row;
}

.flex-line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.dialog-element {
  margin-bottom: 8px;
}

.image-options {
  text-align: center;
}

.image-options i {

  vertical-align: middle !important;
}

mat-form-field {
  width: 100%;
}

.cdk-overlay-pane {
  height: 100%;
}

.mdi {
  color: #282c87;
}

.mdi:hover {
  color: #383dbb;
}

pre {
  border: solid 1px #e1e1e1
}
