.scoreboard {
  margin-top: 100px;
  background-color: white;
  margin-bottom: 100px;
}

#bottom {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

mat-toolbar{
  background-color: #282C87;
  text-align: right;
}

.material-icons{
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
