mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 200px;
}

.mat-list-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.toolbar {
  position: fixed;
  z-index: 2;
}

#logout {
  color: #87282d;
}

.sidenav-content {
  margin-top: 70px;
  padding: 8px;
}

h1.mat-display-2 {
  margin-left: 8px;
}
