<div class="page-content">
  <mat-card>
    <img *ngIf="location?.imageAvailable()" class="img-responsive"
         src="data:{{location?.getImage().filetype}};base64,{{location?.getImage().base64}}">
    <div class="location-text">
      <h1 class="mat-h1">Ort: {{location?.getName()}}</h1>
    </div>
  </mat-card>
</div>

<div class="page-footer">
  <mat-toolbar>
    <i class="mdi mdi-exit-to-app" (click)="abbrechen()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-help-circle-outline" (click)="help()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-map-marker" (click)="openMap()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-skip-next" (click)="skip()"></i>
    <span class="spacer"></span>
    <i class="mdi mdi-qrcode" (click)="openCamera()"></i>
  </mat-toolbar>
</div>
