.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

.discription {
  color: white;
}

mat-toolbar {
  background-color: #282c87;
}

.material-icons {
  color: white;
}

.material-icons:hover {
  cursor: pointer;
}

#map {
  width: 100%;
  height: 100%;
}

.location-text {
  height: 60px;
}

.mat-h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.spacer {
  flex: 1 1 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  -moz-border-radius: 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
}

.card {
  margin-top: 0px;
  margin-bottom: 100px;
}

.mat-card {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  mat-card {
    margin: 0 auto;
    max-width: 75%;
  }

  .img-responsive {
    margin-top: 80px;
  }

  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  mat-card {
    margin: 0 auto;
    max-width: 50%;
  }

  .img-responsive {
    margin-top: 30px;
  }

  .footer {
    padding-left: 96px;
    padding-right: 96px;
  }
}
