<div class="page-content">
  <mat-card>
    <img *ngIf="location?.imageAvailable()" class="img-responsive"
         src="data:{{location?.getImage().filetype}};base64,{{location?.getImage().base64}}">
    <div class="location-text">
      <h1 class="mat-h1">Ort: {{location?.getName()}}</h1>
    </div>
  </mat-card>
</div>

<div class="page-footer">
  <mat-toolbar>
    <i class="material-icons" (click)="abbrechen()">exit_to_app</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="help()">help_outline</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="openMap()">location_on</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="skip()">skip_next</i>
    <span class="spacer"></span>
    <i class="material-icons" (click)="openCamera()">photo_camera</i>
  </mat-toolbar>
</div>
